.carousel {
  position: relative;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid #1a1933;
  border-radius: 10px;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 100%;
  flex-shrink: 0;
  border-radius: 10px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1a1933;
  color: #e9ffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.carousel-btn:hover {
  background-color: #e9ffff;
  color: #1a1933;
}