/* #53999d - nav*/
/* #1a1933 - darkmode*/
/* #e9ffff - white*/



nav{
    background-color:#53999d;
    margin: 0;
    padding: 0;
    align-items: center;
    height:calc(2.5vh + 2.5vw + 35px);
    border-radius: 6px;
}

nav ul li.left{
    color: #e9ffff;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    height: calc(1.1vh + 1.1vw);
}



nav ul li.right a{
    color: #e9ffff;
    float: right;
    border-radius: 10px;
    padding: 2%;
    margin-top:2%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 0.5%;
    font-size: calc(1.1vh + 1.1vw);
    height:calc(2.5vh + 2.5vw);
    

}


nav ul li.right a:hover{
    background-color: #1a1933;
    height: fit-content;
    transform: scale(1.05);
}

nav ul li.right_button :hover{

    transform: scale(1.05);
}

nav ul li.right_button{
    float: right;
    margin-top: 1%;
    width: calc(2.5vh + 2.5vw + 35px);
    padding-left: 2%;
    
}

nav ul li.right_button button{
background-color: #e9ffff;
border-radius: 6px;
width: calc(2vh + 2vw + 35px);
height: calc(2vh + 2vw + 20px);

border-style:solid;
}


nav ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.responsive_img{
    width: calc(2.5vh + 2.5vw + 35px);
}

.topnav{
    display: none;
}

@media screen and (max-device-width: 600px) {
    nav{
        display: none;
    }
    nav ul li.right a{
        display: none;
    }
    .responsive_img{
        width: calc(3.5vh + 3.5vw + 55px);
    }
    nav{
       height: calc(3.5vh + 3.5vw + 55px); 
    }
    nav ul li.right_button button{
        margin-top: 15%;
        height: calc(3.5vh + 3.5vw);
    }
    .topnav{
        display: block;
    }

}



/* nav light mobile*/

.topnav button{
    background-color: #e9ffff;
    border-radius: 6px;
    width: calc(2vh + 2vw + 35px);
    height: calc(2vh + 2vw + 20px);
    float: center;
    border-style:solid;
    }
    


.mobile-container {
    margin: auto;
    background-color:#53999d;
    height: 500px;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color:#53999d;
    position: relative;
    border-radius: 8px;

  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: calc(1.1vh + 1.1vw);
    display: block;
  }
  
  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a.icon {
    background: transparent;
    display: inline;
    position: absolute;

  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }

/* dark-mode */

